NEXT_PUBLIC_SUPABASE_URL=https://juvdbqwxyihafeflvnfs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1dmRicXd4eWloYWZlZmx2bmZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NzIxNDAsImV4cCI6MjA5MjQ0ODE0MH0.4XGZz-SLmJZwtLe853PMQALoba0aYBgNM0e3Z786GU4
